<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Учебный чат-бот</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>	
		
		<script>
		  const embedMode = true;
		</script>
		
	</head>
	<body>

		<div id="chat-tab" class="tab-content">
		  <div id="chat-wrapper">
			<div id="chat-bot-mood">
			  <div id="chat-bot-mood-icon"></div>
			  <div id="chat-bot-mood-label">
				<h1 id="chat-bot-mood-text">Chatbot is feeling</h1>
				<h1 id="chat-bot-mood-value">Mood</h1>
			  </div>
			</div>
			<div id="letter-pool"></div>
			<div id="temp-letter-pool"></div>
			<div id="letter-overlay"></div>
			<div id="chat-message-window">
			  <div id="message-input-wrapper">
				<div id="message-input">
				  <textarea id="message-input-field" placeholder="Введите сообщение..."></textarea>
				  <div id="send-message-button">
					<i class="fas fa-arrow-alt-circle-right"></i>
				  </div>
				</div>
			  </div>
			  <div id="chat-message-column-wrapper" class="scroll-bar">
				<div id="chat-message-column" class="static"></div>
			  </div>
			</div>
		  </div>
		</div>

		<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
	</body>
</html>
